<section class="benefits">
  <h2 class="visually-hidden">Преимущества ЖК</h2>
  <div class="container">
    <div class="benefits__wrapper">
      <div class="benefits__item">
        <img src="./img/benefits/bench.svg" alt="" class="benefits__item-img">
        <p class="benefits__item-text">
          Рядом исторические
          парки и скверы
        </p>
      </div>
      <div class="benefits__item">
        <img src="./img/benefits/building.svg" alt="" class="benefits__item-img">
        <p class="benefits__item-text">
          Полностью
          обустроенный
        </p>
      </div>
      <div class="benefits__item">
        <img src="./img/benefits/fountain.svg" alt="" class="benefits__item-img">
        <p class="benefits__item-text">
          10 фонтанов
          на территории
        </p>
      </div>
      <div class="benefits__item">
        <img src="./img/benefits/bicycle.svg" alt="" class="benefits__item-img">
        <p class="benefits__item-text">
          6 км
          велодорожек
        </p>
      </div>
    </div>
  </div>
</section>