<section class="feedback">
    <div class="container">
        <div class="feedback__title">
            <h2 class="title-2">Есть вопросы?</h2>
        </div>
        <form class="feedback__form form" action="">
            <p class="form__privacy form__privacy--bottom">*Мы никому не передаем ваши данные. <br>
                И не сохраняем ваш номер в базу.</p>
            <input type="text" class="form__input" placeholder="Ваше имя">
            <input data-tel-input type="text" class="form__input" placeholder="Ваш телефон">

            <button class="form__btn">Посмотреть район</button>
        </form>
    </div>
</section>